---

---

<form
  class="mb-12 w-full shrink-0 grow-0 basis-auto md:px-3 lg:mb-0 lg:w-5/12 lg:px-6"
>
  <!-- Campos del formulario aquí -->
  <div class="mb-3 w-full">
    <label class="block font-medium mb-[2px] text-teal-700"> Nombre</label>
    <input
      type="text"
      class="px-2 py-2 border w-full outline-none rounded-md"
      id="exampleInput90"
      placeholder="Nombre completo"
    />
  </div>

  <div class="mb-3 w-full">
    <label class="block font-medium mb-[2px] text-teal-700"> E-mail</label>
    <input
      type="email"
      class="px-2 py-2 border w-full outline-none rounded-md"
      id="exampleInput90"
      placeholder="Dirección E-mail"
    />
  </div>

  <div class="mb-3 w-full">
    <label class="block font-medium mb-[2px] text-teal-700"> Teléfono</label>
    <input
      type="text"
      class="px-2 py-2 border w-full outline-none rounded-md"
      id="exampleInput90"
      placeholder="Ingrese su teléfono"
    />
  </div>

  <div class="mb-3 w-full">
    <label class="block font-medium mb-[2px] text-teal-700"> Mensaje</label>
    <textarea
      class="px-2 py-2 border rounded-[5px] w-full outline-none"
      name=""
      id=""></textarea>
  </div>

  <button
    type="button"
    class="mb-6 inline-block w-full rounded bg-teal-400 px-6 py-2.5 font-medium uppercase leading-normal text-white hover:shadow-md hover:bg-teal-500"
  >
    Enviar
  </button>
</form>
