---
import { Picture } from "astro:assets";

import mapumayImagenCircular from "../assets/img/mapumay_circular.png";
//import mapumayVideoSuperior from "../assets/video/cascada_mirada_superior-1080p.mp4";
const mapumayVideoSuperior = "https://cdn.pixabay.com/vimeo/413229662/cascada-37088.mp4?width=3840&hash=ef239afb3df2e22d7dfe6a02af444f0dd8e9599f";

---

<!-- Contenedor Principal -->
<div class="relative min-h-screen flex items-center justify-center">

  <!-- Sección de Video de Fondo -->
  <video autoplay loop muted class="absolute z-0 w-full h-full object-cover">
    <source src={mapumayVideoSuperior} type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <!-- Contenido Centrado sobre el Video -->
  <div class="relative z-10 flex flex-col items-center justify-center p-4">

    <!-- Imagen Central -->
    <Picture
      class="w-full max-w-2xl h-auto object-cover"
      src={mapumayImagenCircular}
      alt="Turismo Mapumay"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />

  </div>
</div>
